h1, h2{font-family: 'Teko', sans-serif;}
.def {font-family: 'Josefin Slab', serif;

}

 li{font-family: 'VT323', monospace;
}

body {background-color: rgba(91, 133, 36, 0.74)}
 .def {color:rgb(159, 28, 95); }
 .tit {color: rgba(207, 26, 68, 0.99);}

 h1{text-align: center;
 margin: 25px;
background-color: rgb(66, 18, 77);}


h2{font-size: 20px;
margin-left: 30px;}

.tit{margin-left: 40px;}
li { border:2px solid;
  border-color: orange;
margin-bottom: 10px;
border-radius: 7px;
padding-left: 6px;}
