/*
h2, h1 {
  font-family: 'Fjalla One', sans-serif;
}


p {
  font-family: 'Old Standard TT', serif;

}
*/
/*li{font-family: 'Nanum Gothic Coding', monospace;}*/

/*
li {
  font-family: 'Old Standard TT', serif;
}
*/
h2{
  margin-left: 12em;
  margin-bottom: 2em;
  margin-top:2em;
}
div.education,div.informatik, div.sprachen, div.experiences{
  margin-left: 14em;
}
body{
  background-color: beige;
}
h1{text-align: center;
  margin-top: 3em;
}
#img{
  height:300px;
  width:230px
}
#img{
  position:absolute;
  right:22em;
  top:16em

}
#personal{
  margin-top: 7em;
  margin-left:16em;
}
.education, .experiences, .personal{

  line-height: 3px;
}



#perstit{
  margin-left: 11em;
}
#reftit{
  margin-left: 20em;
}
#refpara{
  margin-left: 16em;
}
#git{
  text-decoration: none;
}