h2, h1 {
  font-family: 'Fjalla One', sans-serif;
}


p {
  font-family: 'Old Standard TT', serif;
}
/*li{font-family: 'Nanum Gothic Coding', monospace;}*/

li {
  font-family: 'Old Standard TT', serif;
}
